<%- if flash[:alert] %>
  <div class="p-4 px-5 text-md bg-green-200 text-green-700 rounded-md mb-6 text-center" role="alert">
    <%= flash[:notice] %>                  
  </div>
<% end %>


<%- if flash[:alert] %>
  <div class="p-4 px-5 text-md bg-red-100 text-red-700 rounded-md mb-6 text-center" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>