<%= form_with(model: @bank_connection, local: true, data: {turbo: false}) do |form| %>
  <div class="w-full">
    <%= form.label :institution_id, t('forms.labels.bank_connections.select_bank'), class: "block text-sm font-medium text-gray-700 mb-1 capitalize"%>
    <%= form.select :institution_id, 
      options_for_select(@banks.map { |bank| [bank["name"], bank["id"], { "data-logo" => bank["logo"] }] }, selected: nil), 
      { prompt: t('forms.placeholders.bank_connections.select_bank') }, 
      { id: "bank-select", class: "w-full" } 
    %>
  </div>

  <!-- Submit Button -->
  <div class="mt-4">
    <%= form.submit t('forms.buttons.submit'), class: "bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700" %>
  </div>
<% end %>
