
<div class="flex justify-center mb-4 pt-4 pb-0 px-4 md:p-0">
  <%= link_to new_bank_connection_path do %>
    <button class="btn btn-primary btn-md btn-icon ">
      <i class="fa-solid fa-building-columns me-2"></i>
      <%= t("bank_connections.index.actions.new") %></button>
  <% end %>
</div>
